.header{
        background:#E1886B;
        padding: 10px;
        border: 10px solid #C80E0E;
        margin: 10px;
}
.main{
        background: #EADD97;
        border: 10px solid #E6D05C;
        margin: 10px;
;
.footer{
        background: black;
        padding: 10px;
}
body{
        text-align: center;
        background: #EFB371;
        background-image: url("bg.png");
}
h1{
        font-size: 50px
        color: #C80E0E;
        font-family: monospace;
        font-style: oblique;
        text-shadow: 5px 5px #C85846;
}
h2{
        font-size: 25px;
        font-family: monospace;
}        
h3{
        font-size: 20px;
        font-family: monospace;
}
